$color-primary: #233a95;
$color-secondary: #2bbef9;
$color-1mode:#FFFFFF ;;
$color-2mode: #393e4d;
$color-border: #ced2db;
$color-hover:#2bbef9;
$shadow-prim: 0px 5px 10px rgba(62, 68, 90, 0.1);
$font-size-primary:0.75rem;
