#contact { 
    margin: 5rem 0;
 }
 #contact div.container {  }
  #contact div.container div.header-contact { 
      text-align: center;
   }
   #contact div.container div.header-contact h1 {  }
   #contact div.container div.header-contact p {  }
  #contact div.container div.contact-info { 
      margin: 2.5rem 0;
   }
   #contact div.container div.contact-info .row{
       height: 15rem;
   }
   #contact div.container div.contact-info .row div{
       padding:2rem;
       background-color: #f3f3f6;
       text-align: center;
        border-radius: 5px;                                                                            ;
   }
   #contact div.container div.contact-info div.location {  }
    #contact div.container div.contact-info div.location i.fal.fa-map-marker-alt.fa-2x {  }
    #contact div.container div.contact-info div.location h5 {  }
    #contact div.container div.contact-info div.location p {  }

#contact div.container div.contact-info .row { 
        display: flex;
        justify-content: space-between;
}
#contact div.container div.contact-info .row div i{ 
    margin: 1rem 0 2rem 0;
    color: #233a95;
}
#contact div.container div.contact-info div.contact-number { 

}
    #contact div.container div.contact-info div.contact-number i.fal.fa-phone-square-alt.fa-2x {  }
    #contact div.container div.contact-info div.contact-number h5 {  }
    #contact div.container div.contact-info div.contact-number p {  }
   #contact div.container div.contact-info div.contact-mail {  }
    #contact div.container div.contact-info div.contact-mail i.fal.fa-envelope.fa-2x {  }
    #contact div.container div.contact-info div.contact-mail h5 {  }
    #contact div.container div.contact-info div.contact-mail p {  }
  #contact div.container div.send-us {  }
   #contact div.container div.send-us div.send-header {  }
    #contact div.container div.send-us div.send-header h1 {  }
    #contact div.container div.send-us div.send-header p {  }
   #contact div.container div.send-us div.row {  }
    #contact div.container div.send-us div.row form {  }
     #contact div.container div.send-us div.row form div.col-12.col-lg-6 {  }
      #contact div.container div.send-us div.row form div.col-12.col-lg-6 label {  }
      #contact div.container div.send-us div.row form div.col-12.col-lg-6 input {  }
      #contact div.container div.send-us div.row form div.col-12.col-lg-6 div.col-12.col-lg-6 {  }
       #contact div.container div.send-us div.row form div.col-12.col-lg-6 div.col-12.col-lg-6 label {  }
       #contact div.container div.send-us div.row form div.col-12.col-lg-6 div.col-12.col-lg-6 input {  }
       #contact div.container div.send-us div.row form div.col-12.col-lg-6 div.col-12.col-lg-6 div.col-12 {  }
        #contact div.container div.send-us div.row form div.col-12.col-lg-6 div.col-12.col-lg-6 div.col-12 label {  }
        #contact div.container div.send-us div.row form div.col-12.col-lg-6 div.col-12.col-lg-6 div.col-12 input {  }
        #contact div.container div.send-us div.row form div.col-12.col-lg-6 div.col-12.col-lg-6 div.col-12 div.col-12 {  }
         #contact div.container div.send-us div.row form div.col-12.col-lg-6 div.col-12.col-lg-6 div.col-12 div.col-12 label {  }
         #contact div.container div.send-us div.row form div.col-12.col-lg-6 div.col-12.col-lg-6 div.col-12 div.col-12 input {  }